In [2]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
for i in range(len(l1)):
    print(f'{l1[i]} age is {l2[i]}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

**zip**

In [4]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
for i,j in zip(l1,l2):
    print(f'{i} age is {j}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

**Dictionary**

- strings representing quotes
- list rep []
- tuple ()
- sets {} with only one value
- **dictionary** also with {} with 2 values
- it has key value pair
- dictionary elements are in pair
    - one element is **key**
    - another element is **value**

In [11]:
# l1=['Ramesh','Suresh','Sathish']
# l2=[20,30,40]

dict1={'Ramesh':20,'Suresh':30,'Sathish':40}
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [10]:
type(dict1)

dict

**initialization**

In [17]:
dict2={20:'Ramesh',30:'Suresh',40:'Sathish'}
dict2

{20: 'Ramesh', 30: 'Suresh', 40: 'Sathish'}

In [28]:
dict3={'Ramesh':'Ramesh','Suresh':'Suresh','Sathish':'Sathish'}
dict3

{'Ramesh': 'Ramesh', 'Suresh': 'Suresh', 'Sathish': 'Sathish'}

In [30]:
dict4={['Ramesh',20]:1,['Suresh',30]:2,['Sathish',40]:3}
dict

TypeError: unhashable type: 'list'

In [31]:
dict5={('Ramesh',20):1,('Suresh',30):2,('Sathish',40):3}
dict5

{('Ramesh', 20): 1, ('Suresh', 30): 2, ('Sathish', 40): 3}

In [32]:
dict6={('Ramesh',20):1,('Suresh',30):2,('Sathish',40):3,('Sathish',40):3}
dict6

# duplicates are not allowed

{('Ramesh', 20): 1, ('Suresh', 30): 2, ('Sathish', 40): 3}

In [34]:
dict7={'age':[10,20,30]}
dict7

{'age': [10, 20, 30]}

- list is mutable
- tuple is immutable
- so list can not be a key
- **keys are important**

In [35]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
max(d1)

'Suresh'

In [36]:
min(d1)

'Ramesh'

In [37]:
len(d1)

3

In [38]:
sorted(d1)

['Ramesh', 'Sathish', 'Suresh']

In [43]:
reversed(d1)

In [42]:
list(reversed(d1))

['Sathish', 'Suresh', 'Ramesh']

In [44]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}
max(d2)

'Suresh'

In [46]:
min(d2)

'Ramesh'

In [47]:
len(d2)

3

In [50]:
sorted(d2)

['Ramesh', 'Sathish', 'Suresh']

In [53]:
list(reversed(d2))

['Sathish', 'Suresh', 'Ramesh']

In [54]:
sum(d2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
d3

{20: 'Ramesh', 30: 'Suresh', 40: 'Sathish'}

In [56]:
max(d3)

40

In [57]:
min(d3)

20

In [58]:
len(d3)

3

In [59]:
sorted(d3)

[20, 30, 40]

In [60]:
list(reversed(d3))

[40, 30, 20]

In [61]:
sum(d3)

90

**index**

In [62]:
d1[0]

KeyError: 0

In [63]:
d1['Ramesh']

20

In [69]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
for i in d1:
    print(f'{i} age is {d1[i]}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

- whenever we iterate dict using for loop in operation it will give key
- if we want value we will access through key only
- key will work as index

In [70]:
d1={'Fruites':['Apple','Banana','Cherry']}
d1['Fruites'][2]

'Cherry'

In [73]:
d1={'Fruites':{'Apple':['sweet','green','custred']}}
d1['Fruites']['Apple'][1]

'green'

In [74]:
d1={'Fruites':[{'cost':[100,200,300]}]}
d1['Fruites'][0]['cost'][2]

300

In [76]:
d1={'Fruites':['Apple'],'cost':[{'1kg':[300,500],'2kg':['none']}]}
d1['cost'][0]['2kg'][0]

'none'

In [77]:
d1={'Fruites':{'mango':{'nagpur':{'mh':{'king':{'shivaji':{'shambaji'}}}}}}}
d1['Fruites']['mango']['nagpur']['mh']['king']['shivaji']

{'shambaji'}

- clear
- copy
- items
- values
- keys
- get
- pop

In [4]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.clear()
d1

{}

In [5]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d2=d1.copy()
d2

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [6]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)])

In [8]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.values()

dict_values([20, 30, 40])

In [9]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [10]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.get('Ramesh')

20

In [14]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.pop('Ramesh')

20

In [15]:
d1

{'Suresh': 30, 'Sathish': 40}

**how to convert list to dictionary**

In [2]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
d1={}
d1['Ramesh']=20
d1['Suresh']=30
d1['Sathish']=40
# d1[i]=j
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [3]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
d1={}
for i,j in zip(names,age):
    d1[i]=j
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

**how to convert dictionary to list**

In [10]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
names=[]
age=[]
for i in d1:
    age.append(d1[i])
    names.append(i)

print(age)
print(names)

[20, 30, 40]
['Ramesh', 'Suresh', 'Sathish']

In [13]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
names=[i for i in d1]
age=[d1[i] for i in d1]
names,age
# for i in d1:
#     age.append(d1[i])
#     names.append(i)

# print(age)
# print(names)

(['Ramesh', 'Suresh', 'Sathish'], [20, 30, 40])

In [15]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
d1={i:j for i,j in zip(names,age)}
# for i,j in zip(names,age):
#     d1[i]=j
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

**mutable vs immutable**

- list are mutable
- strings are immutable
- tuple is immutable
- dictionary also mutable we can modify the value

In [16]:
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [17]:
d1={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d1['Ramesh']=40
d1

{'Ramesh': 40, 'Suresh': 30, 'Sathish': 40}

- dictionary is similar to database operation
- keys always unique but values can be changed

**concantenation**

In [18]:
d1={'Ramesh': 20}
d2={'fruites':'apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [19]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)])

In [20]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.values()

dict_values([20, 30, 40])

In [21]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

- dict_keys is a type has keys
- it is looks like list but not list
- we can not use list methods here
- for that we need to convert dict_keys to list

In [24]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
keys=d1.keys()
list(keys)

['Ramesh', 'Suresh', 'Sathish']

In [25]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
values=d1.values()
list(values)

[20, 30, 40]

In [26]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
items=d1.items()
list(items)

[('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)]

In [1]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
keys=list(d1.keys())
values=list(d1.values())

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}

In [ ]:
- concantenaation of 2 dict fails 
- but we

**pop-popitems**

**del**

In [28]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
del d1
d1

NameError: name 'd1' is not defined