**Try-Except**

- try and exception are two blocks
- Original code will write under try block
- if any error occures in original code
- it will redirect to except block
- except block will catch the errors in try block

- syntax error : )
- case sentitive error
- name error female
- zero division error
- indenation error

In [1]:
10/0

ZeroDivisionError: division by zero

In [2]:
'a'+b

NameError: name 'b' is not defined

In [3]:
if 100>10:
    print('True')

True

In [4]:
n1=10
n2=20
add=n1+n22
print(add)

NameError: name 'n22' is not defined

In [5]:
try:
    n1=10
    print(n1)
    n2=20
    print(n2)
    add=n1+n22
    print(add)
except:
    print('hello the code is not good')

10
20
hello the code is not good

In [ ]:
try:
    <write your original code>
except:
    <catch the error here>

In [ ]:
try:
    <write your code>
except Exception as e:
    print(e)

In [6]:
try:
    n1=10
    print(n1)
    n2=20
    print(n2)
    add=n1+n22
    print(add)
except Exception as e:
    print(e)

10
20
name 'n22' is not defined

In [ ]:
n1=eval(input('enter the n1:'))
n2=eval(input('enter the n2'))
div=n1/n2
print(div)

In [8]:
try:
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2'))
    div=n1/n2
    print(div)
except Exception as e:
    print(e)

enter the n1: 10
enter the n2 0

division by zero

In [ ]:
try:
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2'))
    div=n1/n2
    print(div)
except Exception as e:
    print(e)

In [1]:
num=eval(input('enter a num:'))
try:
    if nummmm>=60:
        print('A')
    elif num>=45:
        print('B')
except Exception as e:
    print(e)

enter a num: 50

name 'nummmm' is not defined

In [ ]:
# in the real time we will write thsounads of lines
# what will happen
# the same code wil work on your==== not work
# 2000 lines
# 1500 ==== client might be get error
# the error is doesnot matter
# it will not impact the output

In [2]:
n1=10
print(n1)
n2=20
print(n2)
n1+n234
print('hello')

10
20

NameError: name 'n234' is not defined

In [3]:
try:
    n1=10
    print(n1)
    n2=20
    print(n2)
    n1+n234
except Exception as e:
    print('hello')
print('bye')

10
20
hello
bye